# 타이타닉 전처리

## 파일 불러오기

In [ ]:
# 타이타닉 전처리

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
df = pd.read_csv("data/Titanic-Dataset.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df['Age'].fillna(df['Age'].mean(), inplace = True) #해당 열의 평균값으로 대체

In [12]:
df['Cabin'].fillna('N', inplace = True)

In [17]:
df['Embarked'].fillna('N', inplace = True)

In [16]:
list_col = ['Age', 'Cabin', 'Embarked']
for col in list_col:
  print( col+' null data count :', df[col].isnull().sum())

Age null data count : 0
Cabin null data count : 0
Embarked null data count : 0

In [18]:
def transform_status(x):
    if "Mrs" in x or "Ms" in x:
        return "Mrs"
    elif "Mr" in x:
        return "Mr"
    elif "Miss" in x:
        return "Miss"
    elif "Master" in x:
        return "Master"
    elif "Dr" in x:
        return "Dr"
    elif "Rev" in x:
        return "Rev"
    elif "Col" in x:
        return "Col"
    else:
        return "0"

df["social_status"] = df["Name"].map(transform_status)
del df['Name']

In [19]:
# Sex → 숫자 변환
df['Sex'] = df['Sex'].map({"male": 0, "female": 1})

In [20]:
# Ticket 제거

del df['Ticket']

In [21]:
# Cabin → 선실 첫 글자만 추출

df['Cabin'] = df['Cabin'].str[:1]

In [22]:
# Fare 제거 (카테고리화 어려워서 제거)

del df['Fare']

In [23]:
# Age → 연령대 카테고리화

def get_category(age):
    if age <= 5:
        return 'Baby'
    elif age <= 12:
        return 'Child'
    elif age <= 18:
        return 'Teenager'
    elif age <= 25:
        return 'Student'
    elif age <= 35:
        return 'Young Adult'
    elif age <= 60:
        return 'Adult'
    else:
        return 'Elderly'

df['Age_cat'] = df['Age'].apply(get_category)
del df['Age']